html{
    size: 16px;
}
body{
    size: 16px;
    color: #1974A6;
    font-family: 'Lato', sans-serif;
}
p{
    font-weight: 400;
    font-family: 'Zen Kurenaido', sans-serif;
    line-height: 1.4em;
    text-align: left;
    color: #42CAFF;
}
ol{
    list-style-type: decimal;
}
h1{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 3.052em;
    word-spacing: 0.5em;
    margin: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #00FA3A;

}

h2{
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 500;
    font-size: 2.441em;
    word-spacing: 0.2em;
    margin: 0em;
    text-align: left;
    padding-top: 15px;
    color: #DEC242;
}
.images{
    text-align: center;
    image-orientation: ;
}